.chatBar{
    display:none;
}

.selected { 
    background-color: #2d4059; 
}

.contactSelected {
    background-color: #becad9; 
}

.textItem{
    word-wrap: break-word;
}

.container{
    background: rgb(201, 198, 198);
}

.menuLeft{   
    width: 280px;
}
.menuRight{
    width: calc(100% - 280px);
}
.menuRightLow{
    display: inline;
    width: calc(100% - 280px);
}
.hide{
    display:inline;
}
.appear{
    display:inline;
    width: calc(100% - 280px);
}
.menuHide{
    display:inline;
    width: 280px;
}

@media (max-width: 560px) {
    .menuLeft{
        width: 100vw;
    }
     .chatBar{
        display:inline;
    } 
    .hide{
        display:none;
    }
    .menuHide{
        display:none;
    }
    .menuRight{
        display:none;
    }
    .menuRightLow{
        width: 50vw; 
    }
    .close{
        display:none;
    }
    .open{
        display:inline;
        width: 100vw;
    }
    .appear{
        display:inline;
        width: 100vw;
    }
}